@model AdminPortal.Models.OnBorad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OnBorad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Counter.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Counter.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IcmRouting.RoutingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IcmRouting.RoutingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnvrionmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnvrionmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecurrenceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecurrenceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeakReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeakReference)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
