@model AdminPortal.Models.Tenant

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default col-lg-9" style="padding-left:0px;padding-right:0px">
        <div class="panel-heading" style="background:#000000;font-style:inherit">
            <i class="fa fa-bar-chart-o fa-fw" style="color:#ffffff;font-size:30px">Add Tenant</i>
        </div>
        <div class="panel-body">
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" ,@id = "Tena"} })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Owners, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Owners, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Owners, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer list-inline" style="float:right">
            <input type="submit" value="Create" class="btn btn-default" />
            <a href="~/Tenants/Index"><input type="button" value="cancel" class="btn btn-default" /></a>
        </div>
    </div>
}


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("form").submit(function (e) {
            return check();
        });
    });
    function check() {
        var bool = true;
        console.log("submint start")
        var stringName = "a";
        console.log("submint start:Name-->" +stringName)
        $.ajax({
            type: "get",
            url: "@Url.Content("~/Create/CheckExists")",
            data: "Name=" + stringName,
            async: false,
            success: function (data) {
                if (data == '1') {
                    alert('The TenantName exited! Please choose another!');
                    bool = false;
                }
            }
        });

        console.log("submint result"+ bool)
        return bool;
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
}
