@model PagedList.IPagedList<AdminPortal.Models.Environment>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default col-lg-9" style="padding-left:0px;padding-right:0px">
    <div class="panel-heading" style="background:#000000">
        <div class="pull-right">
            <a href="~/Environments/Create"><i class="fa fa-bar-chart-o fa-fw" style="color:#ffffff;font-size:15px">Add</i></a>
        </div>
        @using (Html.BeginForm("Index", "Environments", FormMethod.Get))
        {
            <a class="fa fa-bar-chart-o fa-fw" style="color:#ffffff;font-size:30px" href="~/Environments/Index">Environments</a>
            @Html.TextBox("SearchString")<input type="submit" value="SearchTenant" />
        }
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <table class="table">
                    <tr>
                        <th>
                            @Html.ActionLink("Name", "Index", new { appsortOrder = ViewBag.AppNameSortParm , currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            IsEnabled
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsEnabled)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.EnvId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.EnvId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.EnvId })
                            </td>
                        </tr>
                    }

                </table>
                <br />
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>

            <div class="col-lg-8">
                <div id="morris-bar-chart"></div>
            </div>

        </div>

    </div>

</div>
