@model AdminPortal.Models.IcmRouting

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IcmRouting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IcmSubscription.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IcmSubscription.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoutingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoutingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrelationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrelationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IcmRoutingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
