@model IEnumerable<AdminPortal.Models.Application>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default col-lg-9" style="padding-left:0px;padding-right:0px">
    <div class="panel-heading" style="background:#000000">
        <i class="fa fa-bar-chart-o fa-fw" style="color:#ffffff;font-size:30px">Applications</i>
        <div class="pull-right">
            <a href="~/Applications/Create"><i class="fa fa-bar-chart-o fa-fw" style="color:#ffffff;font-size:15px">Add</i></a>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <table class="table">
                    <tr>
                        <th>
                            <i>Name</i>
                        </th>
                        <th>
                            <i>AppGroupName</i>
                        </th>
                        <th>
                            <i>TenantName</i>
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppGroup.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tenant.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.AppId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.AppId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.AppId })
                            </td>
                        </tr>
                    }

                </table>

            </div>
            <div class="col-lg-8">
                <div id="morris-bar-chart"></div>
            </div>
        </div>
    </div>
</div>