<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation" style="margin-bottom:0">
        <!-- Navigation Top-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Sentry", "Index", "Home", new { area = "" }, new { @class = "navbar-brand " })
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("API", "Index", "Help")</li>
            </ul>
        </div>
        <!-- Navigation Leftside-->
    </nav>
    <nav class="navbar-default navbar-inverse" role="navigation" >
        <div class="navbar-default sidebar col-lg-1" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Manage<span class="fa arrow"></span></a>
                        <!-- /.nav-second-level -->
                        <ul class="nav">
                            <li><a href="~/Admins/Index">Teams</a></li>
                            <li><a href="~/Applications/Index">Applications</a></li>
                            <li><a href="~/Environments/Index">Environments</a></li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("OnBoard", "Index", "OnBorads")
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content col-lg-offset-1">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sentry Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metisMenu")
    @RenderSection("scripts", required: false)
</body>
</html>
